*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
    margin-bottom: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    font-size: 5vw;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

canvas {
    display: block;
    border: 1px solid black;
    margin: 0 auto;
}


#Tela{
    width: calc(135vw/2);
    height: calc(165vh/2);
}